:root {
    --yc-primary-color: #ff00ff;
    --yc-accent-color: #0064ff;
    --yc-body-color: #efefef;
    --yc-scrollbar-color: #e5ff00;
    --yc-sidebar-color: #ff0000;
    --yc-title-color: #00ff37;
    --yc-subtitle-color: #9f9f9f;
    --yc-icon-color: #efefef;
    --yc-bl-text-color: #9d9d9d;
    --yc-bd-text-color: #efefef;
    --yc-link-color: #dd6767;
    --yc-link-hover-color: #7c20e6;

}