:root {
    /* --yc-light-mode-bg-color: #F8F9FA;
    --yc-dark-mode-bg--color: #202122;
    --yc-light-smooth-mode-bg--color: #ffffff;
    --yc-dark-smooth-mode-bg-color: #303143;
     */
    --yc-df-primary-color: var(--yc-primary-color, #0064ff);
    --yc-df-accent-color: var(--yc-accent-color, var(--yc-df-primary-color));
    --yc-df-background-color: var(--yc-background-color, #ffffff);
    --yc-df-scrollbar-color: var(--yc-scrollbar-color, var(--yc-df-accent-color, var(--yc-df-primary-color)));
    --yc-df-sidebar-color: var(--yc-sidebar-color, var(--yc-df-primary-color));
    --yc-df-title-color: var(--yc-title-color, var(--yc-df-primary-color));
    --yc-df-subtitle-color: var(--yc-subtitle-color, #9f9f9f);
    --yc-df-icon-color: var(--yc-icon-color, #efefef);
    --yc-df-bl-text-color: var(--yc-bl-text-color, #000000);
    --yc-df-bd-text-color: var(--yc-bd-text-color, #ffffff);
    --yc-df-link-color: var(--yc-link-color, #7289f3);
    --yc-df-link-hover-color: var(--yc-link-hover-color, #ec4e4e);
    --yc-df-selection-color: var(--yc-selection-color, var(--yc-df-accent-color));
    --yc-df-selected-text-color: var(--yc-selected-text-color, #ffffff);
    --yc-df-button-background-color: var(--yc-button-background-color, var(--yc-df-accent-color));
    --yc-df-button-border-color: var(--yc-button-border-color, var(--yc-df-accent-color));
}

body {
    background-color: var(--yc-df-background-color);
}

body[yc-brightness="light"] {
    color: var(--yc-df-bl-text-color);
}

body[yc-brightness="dark"] {
    color: var(--yc-df-bd-text-color);
}

::selection {
    color: var(--yc-df-selected-text-color);
    background-color: var(--yc-df-selection-color);
}

.yc-a {
    color: var(--yc-df-link-color);
}

.yc-a:hover {
    color: var(--yc-df-link-hover-color);
}

.yc-article {
    padding: 0px 2%;
}

.yc-article>h1,
.yc-article>h2,
.yc-article>h3,
.yc-article>h4 {
    color: var(--yc-df-primary-color);
}

.yc-audio {
    padding: 0px;
}

.yc-blockqoute {
    padding: 0px;
}

.yc-button-outline {
    padding: 10px 20px;
    border: 0.2em solid var(--yc-df-button-border-color);
    color: var(--yc-df-button-border-color);
    background-color: transparent;
    font-weight: bold;
}

.yc-button-outline-round-1 {
    padding: 10px 20px;
    border: 0.2em solid var(--yc-df-button-border-color);
    border-radius: 7px;
    color: var(--yc-df-button-border-color);
    background-color: transparent;
    font-weight: bold;
}

.yc-button-outline-round-2 {
    padding: 10px 20px;
    border: 0.2em solid var(--yc-df-button-border-color);
    border-radius: 50px;
    color: var(--yc-df-button-border-color);
    background-color: transparent;
    font-weight: bold;
}

.yc-button-outline-round-3 {
    padding: 10px;
    border: 0.2em solid var(--yc-df-button-border-color);
    border-radius: 100%;
    color: var(--yc-df-button-border-color);
    background-color: transparent;
    font-weight: bold;
}
.yc-button-outline:hover,
.yc-button-outline-round-1:hover,
.yc-button-outline-round-2:hover,
.yc-button-outline-round-3:hover {
    color: white;
    background-color: var(--yc-df-button-border-color);
}

.yc-button-fill {
    padding: 10px 20px;
    border: 0.2em solid var(--yc-df-button-background-color);
    color: white;
    background-color: var(--yc-df-button-background-color);
    font-weight: bold;
}

.yc-button-fill-round-1 {
    padding: 10px 20px;
    border: 0.2em solid var(--yc-df-button-background-color);
    border-radius: 7px;
    color: white;
    background-color: var(--yc-df-button-background-color);
    font-weight: bold;
}

.yc-button-fill-round-2 {
    padding: 10px 20px;
    border: 0.2em solid var(--yc-df-button-background-color);
    border-radius: 50px;
    color: white;
    background-color: var(--yc-df-button-background-color);
    font-weight: bold;
}

.yc-button-fill-round-3 {
    padding: 10px;
    border: 0.2em solid var(--yc-df-button-background-color);
    border-radius: 100%;
    color: white;
    background-color: var(--yc-df-button-background-color);
    font-weight: bold;
}

.yc-button-outline:hover,
.yc-button-outline-round-1:hover,
.yc-button-outline-round-2:hover,
.yc-button-fill:hover,
.yc-button-fill-round-1:hover,
.yc-button-fill-round-2:hover {
    cursor: pointer;
}